# Assignment - Basic Pandas
<sup>Created by Natawut Nupairoj, Department of Computer Engineering, Chulalongkorn University</sup>

Using pandas to explore youtube trending data from GB (GBvideos.csv and GB_category_id.json) and answer the questions.

In [ ]:
import pandas as pd
import numpy as np

To simplify data retrieval process on Colab, we heck if we are in the Colab environment and download data files from a shared drive and save them in folder "data".

For those using jupyter notebook on the local computer, you can read data directly assuming you save data in the folder "data".

In [ ]:
import sys
IN_COLAB = 'google.colab' in sys.modules
if IN_COLAB:
    !wget https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz -O data.tgz
    !tar -xzvf data.tgz

--2024-02-28 06:15:24--  https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/kaopanboonyuen/2110446_DataScience_2021s2/main/datasets/data.tgz [following]
--2024-02-28 06:15:24--  https://raw.githubusercontent.com/kaopanboonyuen/2110446_DataScience_2021s2/main/datasets/data.tgz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45477462 (43M) [application/octet-stream]
Saving to: ‘data.tgz’

data.tgz            100%[===================>]  43.37M   174MB/s    in 0.2s

2024-02-28 06:15:25 (174 MB/s) - ‘data.tgz’ saved [45477462/45477462]

data/
data/._GB_category_id.json
data/GB_category_id.json
data/._US_category_id.json
data/US_category_id.json
data/._USvideos.csv
data/USvideos.csv
data/._GBvideos.csv
data/GBvideos.csv

## How many rows are there in the GBvideos.csv after removing duplications?

In [ ]:
gb_vdo_df = pd.read_csv('data/GBvideos.csv')
type(gb_vdo_df)


#gb_vdo_df.shape # before (38916, 16)
gb_vdo_df.drop_duplicates(inplace=True) # inplace= True แก้ในตารางตรงๆเลย
gb_vdo_df.shape # after
print(gb_vdo_df)
gb_vdo_df.columns

          video_id trending_date  \
0      Jw1Y-zhQURU      17.14.11
1      3s1rvMFUweQ      17.14.11
2      n1WpP7iowLc      17.14.11
3      PUTEiSjKwJU      17.14.11
4      rHwDegptbI4      17.14.11
...            ...           ...
38911  l884wKofd54      18.14.06
38912  IP8k2xkhOdI      18.14.06
38913  Il-an3K9pjg      18.14.06
38914  -DRsfNObKIQ      18.14.06
38915  4YFo4bdMO8Q      18.14.06

                                                   title  \
0          John Lewis Christmas Ad 2017 - #MozTheMonster
1              Taylor Swift: …Ready for It? (Live) - SNL
2             Eminem - Walk On Water (Audio) ft. Beyoncé
3      Goals from Salford City vs Class of 92 and Fri...
4      Dashcam captures truck's near miss with child ...
...                                                  ...
38911  Enrique Iglesias - MOVE TO MIAMI (Official Vid...
38912  Jacob Sartorius - Up With It (Official Music V...
38913                 Anne-Marie - 2002 [Official Video]
38914  Eleni Foureira - Fuego - Cyprus - LIVE - First...
38915  KYLE - Ikuyo feat.  2 Chainz & Sophia Black [A...

                    channel_title  category_id              publish_time  \
0                      John Lewis           26  2017-11-10T07:38:29.000Z
1             Saturday Night Live           24  2017-11-12T06:24:44.000Z
2                      EminemVEVO           10  2017-11-10T17:00:03.000Z
3      Salford City Football Club           17  2017-11-13T02:30:38.000Z
4                Cute Girl Videos           25  2017-11-13T01:45:13.000Z
...                           ...          ...                       ...
38911         EnriqueIglesiasVEVO           10  2018-05-09T07:00:01.000Z
38912             Jacob Sartorius           10  2018-05-11T17:09:16.000Z
38913                  Anne-Marie           10  2018-05-08T11:05:08.000Z
38914     Eurovision Song Contest           24  2018-05-08T20:32:32.000Z
38915              SuperDuperKyle           10  2018-05-11T04:06:35.000Z

                                                    tags     views   likes  \
0      christmas|"john lewis christmas"|"john lewis"|...   7224515   55681
1      SNL|"Saturday Night Live"|"SNL Season 43"|"Epi...   1053632   25561
2      Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...  17158579  787420
3      Salford City FC|"Salford City"|"Salford"|"Clas...     27833     193
4                                                 [none]      9815      30
...                                                  ...       ...     ...
38911  Enrique Iglesias feat. Pitbull|"MOVE TO MIAMI"...  25066952  268088
38912  jacob sartorius|"jacob"|"up with it"|"jacob sa...   1492219   61998
38913  anne|"marie"|"anne-marie"|"2002"|"two thousand...  29641412  394830
38914  Eurovision Song Contest|"2018"|"Lisbon"|"Cypru...  14317515  151870
38915  Kyle|"SuperDuperKyle"|"Ikuyo"|"2 Chainz"|"Soph...    607552   18271

       dislikes  comment_count  \
0         10247           9479
1          2294           2757
2         43420         125882
3            12             37
4             2             30
...         ...            ...
38911     12783           9933
38912     13781          24330
38913      8892          19988
38914     45875          26766
38915       274           1423

                                       thumbnail_link  comments_disabled  \
0      https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg              False
1      https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg              False
2      https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg              False
3      https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg              False
4      https://i.ytimg.com/vi/rHwDegptbI4/default.jpg              False
...                                               ...                ...
38911  https://i.ytimg.com/vi/l884wKofd54/default.jpg              False
38912  https://i.ytimg.com/vi/IP8k2xkhOdI/default.jpg              False
38913  https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg              False
38914  https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg              False
38915  https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg              False

       ratings_disabled  video_error_or_removed  \
0                 False                   False
1                 False                   False
2                 False                   False
3                 False                   False
4                 False                   False
...                 ...                     ...
38911             False                   False
38912             False                   False
38913             False                   False
38914             False                   False
38915             False                   False

                                             description
0      Click here to continue the story and make your...
1      Musical guest Taylor Swift performs …Ready for...
2      Eminem's new track Walk on Water ft. Beyoncé i...
3      Salford drew 4-4 against the Class of 92 and F...
4      Dashcam captures truck's near miss with child ...
...                                                  ...
38911  NEW SONG - MOVE TO MIAMI feat. Pitbull (Click ...
38912  THE OFFICIAL UP WITH IT MUSIC VIDEO!Get my new...
38913  Get 2002 by Anne-Marie HERE ▶ http://ad.gt/200...
38914  Eleni Foureira represented Cyprus at the first...
38915  Debut album 'Light of Mine' out now: http://ky...

[38745 rows x 16 columns]

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

## How many VDO's that contain at least one record (row) of "dislikes" more than "likes"?  <font color=red>DO NOT group by the data and make sure that you count only unique title!</font>

In [ ]:
#gb_vdo_df[gb_vdo_df.dislikes > gb_vdo_df.likes]
dislikes_gt_likes = gb_vdo_df[gb_vdo_df['dislikes'] > gb_vdo_df['likes']] # got all df back

#print(len(dislikes_gt_likes))
dislikes_gt_likes_title = dislikes_gt_likes.title.nunique() # nunique นับจำนวนที่ค่าไม่ซ้ำ
print(dislikes_gt_likes_title)

          video_id trending_date  \
91     _wM_jY_rass      17.14.11
110    l9nGCJlDclQ      17.14.11
161    S0A4hBJHND4      17.14.11
309    _wM_jY_rass      17.15.11
327    l9nGCJlDclQ      17.15.11
...            ...           ...
38517  Ut7e-0X8lds      18.12.06
38590  DVWxQvlgRrM      18.13.06
38693  Ut7e-0X8lds      18.13.06
38765  DVWxQvlgRrM      18.14.06
38863  Ut7e-0X8lds      18.14.06

                                                   title  \
91                                     Bone on Labour HQ
110    After Show: Did Kate Hudson Date Brad Pitt? | ...
161    Svjetska ekskluziva: Provala u stan Dejana Lov...
309                                    Bone on Labour HQ
327    After Show: Did Kate Hudson Date Brad Pitt? | ...
...                                                  ...
38517  30-year-old evicted from parents' home speaks ...
38590     Robert De Niro - F--- Trump - 2018 Tony Awards
38693  30-year-old evicted from parents' home speaks ...
38765     Robert De Niro - F--- Trump - 2018 Tony Awards
38863  30-year-old evicted from parents' home speaks ...

                                 channel_title  category_id  \
91                               Ross Kempsell           25
110    Watch What Happens Live with Andy Cohen           24
161                              Jutarnji list           24
309                              Ross Kempsell           25
327    Watch What Happens Live with Andy Cohen           24
...                                        ...          ...
38517                                      CNN           25
38590                                  Variety           24
38693                                      CNN           25
38765                                  Variety           24
38863                                      CNN           25

                   publish_time  \
91     2017-11-06T16:12:58.000Z
110    2017-11-08T17:00:01.000Z
161    2017-11-03T12:30:24.000Z
309    2017-11-06T16:12:58.000Z
327    2017-11-08T17:00:01.000Z
...                         ...
38517  2018-05-23T21:15:59.000Z
38590  2018-06-11T03:01:32.000Z
38693  2018-05-23T21:15:59.000Z
38765  2018-06-11T03:01:32.000Z
38863  2018-05-23T21:15:59.000Z

                                                    tags    views  likes  \
91                                                [none]   159065   1160
110    What What Happens live|"reality"|"interview"|"...    53253    184
161                                               [none]    83794     83
309                                               [none]   160381   1168
327    What What Happens live|"reality"|"interview"|"...    54374    186
...                                                  ...      ...    ...
38517  latest News|"Happening Now"|"CNN"|"US"|"Newsro...  2823175   8402
38590                           Variety|"Variety Studio"   453086   2899
38693  latest News|"Happening Now"|"CNN"|"US"|"Newsro...  2828962   8413
38765                           Variety|"Variety Studio"   511990   3117
38863  latest News|"Happening Now"|"CNN"|"US"|"Newsro...  2834549   8422

       dislikes  comment_count  \
91         1164              0
110         187             83
161         108             74
309        1170              0
327         190             83
...         ...            ...
38517      9091          29799
38590      3837           4404
38693      9100          29870
38765      4394           4828
38863      9114          29896

                                       thumbnail_link  comments_disabled  \
91     https://i.ytimg.com/vi/_wM_jY_rass/default.jpg               True
110    https://i.ytimg.com/vi/l9nGCJlDclQ/default.jpg              False
161    https://i.ytimg.com/vi/S0A4hBJHND4/default.jpg              False
309    https://i.ytimg.com/vi/_wM_jY_rass/default.jpg               True
327    https://i.ytimg.com/vi/l9nGCJlDclQ/default.jpg              False
...                                               ...                ...
38517  https://i.ytimg.com/vi/Ut7e-0X8lds/default.jpg              False
38590  https://i.ytimg.com/vi/DVWxQvlgRrM/default.jpg              False
38693  https://i.ytimg.com/vi/Ut7e-0X8lds/default.jpg              False
38765  https://i.ytimg.com/vi/DVWxQvlgRrM/default.jpg              False
38863  https://i.ytimg.com/vi/Ut7e-0X8lds/default.jpg              False

       ratings_disabled  video_error_or_removed  \
91                False                   False
110               False                   False
161               False                   False
309               False                   False
327               False                   False
...                 ...                     ...
38517             False                   False
38590             False                   False
38693             False                   False
38765             False                   False
38863             False                   False

                                             description
91                                                   NaN
110    During the After Show, Andy Cohen asks actress...
161    Lopovi batovima demolirali vrata hrvatskom rep...
309                                                  NaN
327    During the After Show, Andy Cohen asks actress...
...                                                  ...
38517  A judge ruled in favor of parents who wanted t...
38590  Robert De Niro only needed two words to introd...
38693  A judge ruled in favor of parents who wanted t...
38765  Robert De Niro only needed two words to introd...
38863  A judge ruled in favor of parents who wanted t...

[499 rows x 16 columns]

## How many VDO that are trending on 22 Jan 2018 with comments more than 10,000 comments?



---

In [ ]:
import pandas as pd

# Assuming gb_vdo_df is your DataFrame
# Convert 'trending_date' to datetime format
gb_vdo_df['trending_date'] = pd.to_datetime(gb_vdo_df['trending_date'], format='%y.%d.%m')

# Filter the DataFrame for videos trending on 22 Jan 2018
selected_date = '2018-01-22'
filtered_df = gb_vdo_df[gb_vdo_df['trending_date'] == selected_date]

# Filter further for videos with more than 10,000 comments
result_df = filtered_df[filtered_df['comment_count'] > 10000]

# Get the count of videos
number_of_videos = len(result_df)

print(f'The number of videos trending on {selected_date} with more than 10,000 comments is: {number_of_videos}')

The number of videos trending on 2018-01-22 with more than 10,000 comments is: 28

## Which date that has the minimum average number of comments per VDO?

In [ ]:

import pandas as pd

# Assuming gb_vdo_df is your DataFrame
# Convert 'trending_date' to datetime format
gb_vdo_df['trending_date'] = pd.to_datetime(gb_vdo_df['trending_date'], format='%y.%d.%m')

# Group by 'trending_date' and calculate the average number of comments per video
avg_comments_per_date = gb_vdo_df.groupby('trending_date')['comment_count'].mean()


# Find the date with the minimum average comments without using idxmin
min_avg_date = avg_comments_per_date[avg_comments_per_date == avg_comments_per_date.min()].index[0]

print(min_avg_date)
# Get the minimum average number of comments
min_avg_comments = avg_comments_per_date.min()

#print(f'The date with the minimum average number of comments per video is {min_avg_date} with an average of {min_avg_comments:.2f} comments.')

2017-11-15 00:00:00

## Compare "Sports" and "Comady", how many days that there are more total daily views of VDO in "Sports" category than in "Comady" category?

In [ ]:
import json

with open('data/US_category_id.json') as fd:
    cat = json.load(fd)

#cat

cat_list = []
for d in cat['items']:
    cat_list.append((int(d['id']), d['snippet']['title']))

#cat_list

[(1, 'Film & Animation'),
 (2, 'Autos & Vehicles'),
 (10, 'Music'),
 (15, 'Pets & Animals'),
 (17, 'Sports'),
 (18, 'Short Movies'),
 (19, 'Travel & Events'),
 (20, 'Gaming'),
 (21, 'Videoblogging'),
 (22, 'People & Blogs'),
 (23, 'Comedy'),
 (24, 'Entertainment'),
 (25, 'News & Politics'),
 (26, 'Howto & Style'),
 (27, 'Education'),
 (28, 'Science & Technology'),
 (29, 'Nonprofits & Activism'),
 (30, 'Movies'),
 (31, 'Anime/Animation'),
 (32, 'Action/Adventure'),
 (33, 'Classics'),
 (34, 'Comedy'),
 (35, 'Documentary'),
 (36, 'Drama'),
 (37, 'Family'),
 (38, 'Foreign'),
 (39, 'Horror'),
 (40, 'Sci-Fi/Fantasy'),
 (41, 'Thriller'),
 (42, 'Shorts'),
 (43, 'Shows'),
 (44, 'Trailers')]

In [ ]:
# create new df using US_cate table
cat_df = pd.DataFrame(cat_list, columns=['id', 'category']) # ตั้งชื่อ col ให้ new table name : id , category
#cat_df

# merge table gb_vdo and cat_df
vdo_df_withcat = gb_vdo_df.merge(cat_df, left_on='category_id', right_on='id')

#vdo_df_withcat.columns


# Step 1: Convert 'trending_date' to datetime type
vdo_df_withcat['trending_date'] = pd.to_datetime(vdo_df_withcat['trending_date'], format='%y.%d.%m')

# Step 2: Create separate DataFrames for "Sports" and "Comedy"
sports_df = vdo_df_withcat[vdo_df_withcat['category'] == 'Sports']
comedy_df = vdo_df_withcat[vdo_df_withcat['category'] == 'Comedy']

# Step 3: Group by 'trending_date' and sum 'views'
sports_daily_views = sports_df.groupby('trending_date')['views'].sum()
comedy_daily_views = comedy_df.groupby('trending_date')['views'].sum()

# Step 4: Compare total daily views for each category
days_more_views_sports = (sports_daily_views > comedy_daily_views).sum()

print(f"Number of days with more total daily views in 'Sports' than in 'Comedy': {days_more_views_sports}")

Number of days with more total daily views in 'Sports' than in 'Comedy': 49